opencv-python==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
pycocotools==2.0.8
matplotlib==3.9.2
jupyterlab==4.2.5
ipykernel==6.29.5
tqdm==4.66.5
scikit-image==0.24.0
pytest==8.3.3
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20
httpx==0.28.1
